body {
  min-width: 768px;
  max-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Calibri", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333;

  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  position: relative;

  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;

  width: 40%;
  margin: 10px 6%;
  padding: 0;

  list-style: none;
}

.navigation-list:first-child {
  margin-right: auto;
}

.navigation-list:last-child {
  margin-left: auto;
}

.navigation-list li {
  width: 50%;
}

.navigation-list:last-child li {
  text-align: right;
}

.navigation-list a {
  font-weight: bold;
  color: #000;
}

.logo {
  position: absolute;

  top: 0;
  left: 50%;

  transform: translateX(-50%);
}

.welcome-photo {
  position: relative;
  z-index: -1;

  height: 510px;
  margin: 0;
  margin-top: 10px;
  padding: 0;

  background-color: #556571;
}

.welcome-photo img {
  position: relative;
  z-index: -1;
}

.welcome-photo::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 458px;
  height: 352px;

  background: url(../img/welcom.png) center center no-repeat;
  transform: translateX(-50%) translateY(-50%);
}

.welcome-photo::after {
  content: "";

  position: absolute;
  bottom: -11px;
  left: 0;

  width: 100%;
  height: 57px;

  background: url(../img/shape.png) 0 0 no-repeat;
  background-size: 100%;
}

.benefits {
  background-color: #fff;
}

.benefits-title {
  padding: 50px 0;
}

.benefits-title p {
  width: 500px;
}

.benefits p {
  width: 50%;
  margin: 0 auto;

  text-align: center;
}

.benefits-box-wide p {
  width: 60%;
}

.benefits .title {
  width: 160px;
  margin-top: 45px;
}

.benefits b,
.benefits h4 {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.benefits-list,
.benefits-sublist {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.benefits-item {
  width: 33.33%;
  height: 257px;

  background-color: #ededed;
}

.benefits-sublist {
  padding: 40px 0 65px;

  background-color: #fff;
}

.benefits-sublist li {
  width: 33.33%;
  padding-top: 80px;

  background: url(../img/icon-1.svg) no-repeat center 0 #fff;
}

.benefits-sublist li:nth-child(2) {
  background-image: url(../img/icon-3.svg);
}

.benefits-sublist li:nth-child(3) {
  background-image: url(../img/icon-2.svg);
}

 .benefits-item-row {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: auto;

  background-color: #86b6d4;
 }

.benefits-box {
  width: 33.33%;
  height: 257px;
  box-sizing: border-box;

  color: #fff;
}

.benefits-box b {
  color: #fff;
}

.benefits .benefits-image {
  width: 66.66%;
  height: 257px;
}

.benefits-image img {
  width: 100%;
  height: 257px;
}

.search-hotels-title {
  padding: 50px 0;
}

.search-hotels-title p {
  width: 440px;
  margin: 0 auto;

  text-align: center;
}

.search-hotels-title b {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
}

.modal-search {
  position: relative;

  width: 570px;
  margin: 0 auto;
}

.button {
  width: 100%;

  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  border: none;
}

.button-search {
  height: 86px;

  background-color: #766357;
}

.search-form {
  position: absolute;

  display: flex;
  flex-wrap: wrap;

  padding: 56px;

  background-color: #fff;
}

.search-form p {
  position: relative;

  margin: 20px 0;
}

.search-form .guests {
  width: 50%;
}

.search-form label {
  display: inline-block;
  width: 112px;
  font-weight: bold;
  }

input {
  width: 340px;
  padding: 12px;
  box-sizing: border-box;

  font-weight: bold;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.btn {
  position: absolute;
  top: 0;
  right: 0;

  width: 40px;
  height: 40px;

  background-color: #f2f2f2;
  border: none;
}

.calendar {
  background: url(../img/calendar.svg) no-repeat center center #f2f2f2;
}

input[name="guests"] {
  width: 40px;
  margin-left: 35px;

  text-align: center;
}

.less {
  left: 112px;
}

.less::before {
  content: "-";
}

.more::before {
  content: "+";
}

.search-form .button {
  padding: 15px;
  background-color: #81b3d2;
}

.map {
  margin: 0;
}

.map img {
  width: 100%;
  height: 475px;
}

.main-footer {
  display: flex;
  align-items: center;

  padding: 25px 0;
}

.main-footer p {
  width: 33.33%;
  margin: 0;

  text-align: center;
}

.social {
  display: flex;
  justify-content: center;

  width: 33.33%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social li {
  margin: 0 10px;
}

.social a {
  position: relative;

  display: block;
  width: 46px;
  height: 50px;

  background: url() no-repeat center center #81b3d2;
}

.social .social-twitter {
  background-image: url(../img/twitter.svg);
}

.social .social-facebook {
  background-image: url(../img/fb-icon.svg);
}

.social .social-youtube {
  background-image: url(../img/youtube.svg);
}

.main-footer b {
  font-size: 21px;
  font-weight: bold;
  color: #000;
}

.main-footer span {
  line-height: 40px;
  vertical-align: top;
}
