body {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;

  font: 14px/26px "PT Sans", "Calibri", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #333;

  background-color: #fff;
  box-shadow:  5px 0 15px rgba(0, 0, 0, 0.2),
              -5px 0 15px rgba(0, 0, 0, 0.2),
               40px 0 #f2f2f2,
              -40px 0 #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  position: relative;

  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;

  width: 40%;
  margin: 15px 6%;
  padding: 0;

  list-style: none;
}

.navigation-list:first-child {
  margin-right: auto;
}

.navigation-list:last-child {
  margin-left: auto;
}

.navigation-list li {
  width: 50%;

  text-align: left;
}

.navigation-list:last-child li {
  text-align: right;
}

.navigation-list a {
  font-weight: bold;
  color: #766357;
}

.navigation-list a[href] {
  color: #000;
}

.navigation-list a[href]:hover,
.navigation-list a[href]:focus {
  color: #81b3d2;
}

.navigation-list a[href]:active {
  color: rgba(0, 0, 0, .3);
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

  transform: translateX(-50%);
}

.welcome-photo {
  position: relative;

  height: 508px;
  margin: 0;
  padding: 0;

  text-align: center;
  overflow: hidden;

  background-color: #d3e4ee;
}

.welcome-photo img {
  width: 100%;
  min-width: 768px;
  min-height: 512px;

  margin-top: 149px;
  transform: translateY(-29%);
}

.welcome-photo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  width: 458px;
  height: 352px;

  background: url(../img/welcom.png) center center no-repeat;
  transform: translateX(-50%) translateY(-50%);
}

.welcome-photo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 57px;

  background: url(../img/shape.png) 0 0 no-repeat;
  background-size: 100% 57px;
}

.benefits-title {
  padding: 37px 0 25px;
}

.benefits-title p {
  width: 500px;
  margin: 25px auto;
}

.benefits-list p {
  margin: 20px auto;
  padding: 0 46px;

  line-height: 22px;
}

.benefits-list .title {
  width: 160px;
}

.benefits b,
.benefits h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000;
}

.benefits-list,
.benefits-sublist {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.benefits-sublist h4 {
  margin: 23px 0;
}

.benefits-item {
  width: 33.33%;
  height: 231px;
  padding-top: 25px;

  background-color: #ededed;
}

.benefits-sublist li {
  width: 33.33%;
  height: 192px;
  padding-top: 138px;
}

.benefits-sublist li:nth-child(1) {
  background: url(../img/icon-1.svg) no-repeat center 59px #fff;
}

.benefits-sublist li:nth-child(2) {
  background: url(../img/icon-3.svg) no-repeat center 59px #fff;
}

.benefits-sublist li:nth-child(3) {
  background: url(../img/icon-2.svg) no-repeat center 55px #fff;
}

 .benefits-item-row {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: auto;
  padding: 0;

  background-color: #86b6d4;
 }

.benefits-box {
  width: 33.33%;
  height: 257px;
  padding-top: 26px;
  box-sizing: border-box;

  color: #fff;
}

.benefits-box b {
  color: #fff;
}

.benefits .benefits-image {
  width: 66.66%;
  height: 257px;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.benefits-image img {
  min-width: 512px;
  min-height: 257px;
  margin-top: 128px;

  transform: translateY(-50%);
}

.search-hotels-title {
  padding: 32px 0 25px;
}

.search-hotels-title p {
  width: 440px;
  margin: 22px auto;

  line-height: 24px;
}

.search-hotels-title b {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
}

.modal-search {
  position: relative;

  width: 570px;
  margin: 0 auto;
}

.button {
  font: inherit;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;

  border: none;
}

.button-hotels {
  width: 100%;
  height: 86px;

  background-color: #766357;
}

.search-form {
  position: absolute;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;

  padding: 55px;
  padding-top: 40px;

  text-align: left;

  background-color: #fff;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.15),
             -7px 7px 15px rgba(0, 0, 0, 0.15);
}

.search-form p {
  position: relative;

  margin: 14px 0;

  font-weight: bold;
  color: #000;
}

.search-form .guests {
  width: 50%;
}

.search-form label {
  display: inline-block;
  width: 112px;
}

.children label {
  width: 62px;
  padding-left: 50px;
}

.search-form input {
  width: 304px;
  margin-right: 40px;
  padding: 5px 10px;
  box-sizing: border-box;

  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-form input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
  outline: none;
}

.search-form input:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.btn {
  position: absolute;
  top: 0;
  right: 0;

  width: 40px;
  height: 40px;

  font: inherit;
  font-size: 21px;
  color: #a9a9a9;

  background-color: #f2f2f2;
  border: none;
}

.calendar svg {
  fill-opacity: .3;
}

.calendar:hover > svg,
.calendar:focus > svg {
  fill-opacity: 1;
}

.calendar:active > svg {
  fill: #81b3d2;
}

.guests input {
  width: 40px;
  height: 40px;
  margin: 0 36px;
}

.less {
  left: 112px;
  letter-spacing: -0.1em;
}

.guests .btn {
  color: rgba(0, 0, 0, .3);
}

.guests .btn:hover,
.guests .btn:focus {
  color: #000;
}

.guests .btn:active {
  color: #81b3d2;
}

.search-form .button-search {
  width: 100%;
  margin: 0;
  margin-top: 39px;
  padding: 17px;

  background-color: #81b3d2;
}

.map {
  height: 475px;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.map img {
  min-width: 1200px;
  height: 593px;
  margin-left: 50%;

  transform: translateX(-50%);
}

.main-footer {
  display: flex;
  align-items: center;

  padding: 36px 0;
}

.main-footer p {
  width: 33.33%;
  margin: 0;

  text-align: center;
}

.social {
  display: flex;
  justify-content: center;

  width: 33.33%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social li {
  margin: 0;
  margin-right: 7px;
}

.social li:last-child {
  margin: 0;
}

.social a {
  display: block;
  width: 45px;
  height: 47px;

  background-color: #81b3d2;
}

.social svg {
  margin-top: 50%;
  transform: translateY(-50%);
}

.social a:active > svg {
  fill-opacity: .3;
}

.main-footer b {
  font-size: 21px;
  font-weight: bold;
  color: #000;
}

.main-footer span {
  line-height: 40px;
  vertical-align: top;
}

.copyright svg {
  width: 108px;
  height: 37px;

  fill: #231f20;
}

.copyright:hover > svg,
.copyright:focus > svg {
  fill: #81b3d2;
}

.copyright:active > svg {
  fill: #bdbbbc;
}

.filter-hotels {
  padding: 25px 6%;

  background: url(../img/filter-background.jpg) no-repeat 0 center #283a42;
}

.filter-form {
  display: flex;

  text-align: left;
  color: #fff;
}

.filter-form fieldset {
  width: 22%;
  margin: 0;
  padding: 0;

  border: none;
}

.filter-form legend,
.range-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-list li {
  margin: 17px 0;
  padding-left: 36px;
}

.filter-list label {
  position: relative;

  cursor: pointer;
  user-select: none;
}

.filter-checkbox:focus + label {
  outline: 1px solid #81b3d2;
}

.filter-checkbox + label::before {
  content: "";

  position: absolute;
  left: -34px;
  top: -1px;

  width: 27px;
  height: 23px;

  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

.filter-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-off-gray.svg");
}

.filter-checkbox:checked:disabled + label::before {
  background-image: url("../img/checkbox-on-gray.svg");
}

.filter-range {
  width: 330px;
  margin-left: auto;
}

.range-title {
  margin-bottom: 9px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #fff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #fff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 30px;
  margin: 0;
  padding-bottom: 20px;

  font: inherit;
  color: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #fff;
}

.toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle:hover,
.toggle:focus {
  border: 9px solid #fff;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;

  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover,
.btn-transparent:focus {
  color: #000;

  background: #fff;
}

.sort-box {
  display: flex;
  align-items: center;

  padding: 30px 6%;
}

.sort-box table {
  width: 150px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;

  border-collapse: collapse;
}

.sort-box td:first-child {
  width: 65%;
}

.sort-box h4 {
  margin: 0 10px;
}

.sort-box ul {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none
}

.type-list li {
  margin-left: 30px;
}

.type-list a {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
}

.type-list a[href] {
  color: rgba(0, 0, 0, .3);

  border-bottom: 1px dotted #81b3d2;
}

.type-list a[href]:hover,
.type-list a[href]:focus {
  color: #81b3d2;
}

.type-list a[href]:active {
  color: #000;

  border-bottom: 1px dotted transparent;
}

.hotels .priority-list {
  width: 40px;
  margin-left: auto;
}

.priority-list a,
.priority-list a[href]:active {
  padding-left: 20px;

  fill: #81b3d2;
}

.priority-list a[href] {
  fill: #231F20;
  opacity: .3;
}

.priority-list a[href]:hover,
.priority-list a[href]:focus {
  opacity: 1;
}

.hotels .hotels-list {
  margin: 0;
  padding: 0;

  list-style: none;

  border-top: 1px solid #e6e6e6;
}

.hotels-item {
  padding: 40px 6%;

  border-bottom: 1px solid #e6e6e6;
}

.hotels-list table {
  width: 100%;

  text-align: left;

  table-layout: fixed;
  border-collapse: collapse;
}

.hotels-list td {
  margin: 0;
  padding: 0;
}

.hotel-photo {
  width: 165px;
}

.hotel-title {
  width: 260px;
}

.hotel-title a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000;
}

.hotel-title a:hover,
.hotel-title a:focus {
  color: #81b3d2;
}

.hotel-title a:active {
  color: rgba(0, 0, 0, .3);
}

.hotel-star {
  position: relative;
  width: 115px;

  text-align: right;
}

.hotel-star::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 71px;
  height: 17px;

  background: url(../img/star.svg) repeat 0 0;
}

.star-one::before {
  width: 17px;
}

.star-two::before {
  width: 35px;
}

.star-three::before {
  width: 52px;
}

.star-four::before {
  width: 71px;
}

.star-five::before {
  width: 88px;
}

.hotels .btn-rating {
  padding: 0 15px;

  line-height: 21px;
  color: #666;

  background-color: #f2f2f2;
}

.hotels .btn-rating + td {
  padding: 0 15px;

  line-height: 21px;
  text-align: right;
  color: #666;

  background-color: #f2f2f2;
}

.hotels-list .button {
  display: inline-block;
  padding: 5px 15px;

  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;

  background-color: #81b3d2;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #669ec0;
}

.btn-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, .3);
}

.hotels-list .booking {
  background-color: #766357;
}

.btn-braun:hover,
.btn-braun:focus {
  background-color: #604e43;
}

.btn-braun:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, .3);
}
